<div>
  <ul class="uk-nav uk-nav-default">
    <li><a href="/">Home</a></li>
    <li class="uk-nav-divider"></li>
    <li class="uk-parent">
      <a href="#"><span class="far fa-folder"></span> config</a>
      <ul class="uk-nav-sub">
        <li>
          <a href="#"><span class="far fa-folder"></span> middleware</a>
          <ul class="uk-nav-sub">
              <li><a href="#"><span class="far fa-file-code"></span> isAuthenticated.js</a></li>
          </ul>
        </li>
        <li><a href="/config-json"><span class="far fa-file-code"></span> config.json</a></li>
        <li><a href="#"><span class="far fa-file-code"></span> passport.js</a></li>
      </ul>
    </li>
    <li class="uk-parent">
      <a href="#"><span class="far fa-folder"></span> models</a>
      <ul class="uk-nav-sub">
        <li><a href="#"><span class="far fa-file-code"></span> index.js</a></li>
        <li><a href="#"><span class="far fa-file-code"></span> user.js</a></li>
      </ul>
    </li>
    <li class="uk-parent">
      <a href="#"><span class="far fa-folder"></span> public</a>
      <ul class="uk-nav-sub">
        <a href="#"><span class="far fa-folder"></span> js</a>
        <ul class="uk-nav-sub">
          <li><a href="#"><span class="far fa-file-code"></span> login.js</a></li>
          <li><a href="#"><span class="far fa-file-code"></span> members.js</a></li>
          <li><a href="#"><span class="far fa-file-code"></span> signup.js</a></li>
        </ul>
        <a href="#"><span class="far fa-folder"></span> stylesheets</a>
        <ul class="uk-nav-sub">
          <li><a href="#"><span class="far fa-file-code"></span> style.css</a></li>
        </ul>
        <li><a href="#"><span class="far fa-file-code"></span> login.html</a></li>
        <li><a href="#"><span class="far fa-file-code"></span> members.html</a></li>
        <li><a href="#"><span class="far fa-file-code"></span> signup.html</a></li>
      </ul>
    </li>
    <li class="uk-parent">
      <a href="#"><span class="far fa-folder"></span> routes</a>
      <ul class="uk-nav-sub">
        <li><a href="#"><span class="far fa-file-code"></span> api-routes.js</a></li>
        <li><a href="#"><span class="far fa-file-code"></span> html-routes.js</a></li>
      </ul>
    </li>
    <li><a href="#"><span class="far fa-file-code"></span> package.json</a></li>
    <li><a href="/server-js"><span class="far fa-file-code"></span> server.js</a></li>
  </ul>
</div>