<h3>config.json</h3>
<div uk-grid>
  <div class="uk-width-1-2@s">
    <h5>Code Contents</h5>
    <pre class="line-numbers"><code class="language-json">
{
  "development": {
    "username": "root",
    "password": null,
    "database": "passport_demo",
    "host": "127.0.0.1",
    "dialect": "mysql"
  },
  "test": {
    "username": "root",
    "password": null,
    "database": "database_test",
    "host": "127.0.0.1",
    "dialect": "mysql"
  },
  "production": {
    "username": "root",
    "password": null,
    "database": "database_production",
    "host": "127.0.0.1",
    "dialect": "mysql"
  }
}
    </code></pre>
  </div>
  <div class="uk-width-1-2@s">
    <h5>Code Definitions</h5>
    <span class="far fa-file-code bigIcon"></span>
    <p>
      This JSON file is used to store the database connection parameters used by the sequelize package. 
      <ul>
        <li>Lines 3-9 configure the <span style="font-style: italic;">development</span> build database.</li>
        <li>Lines 10-16 configure the <span style="font-style: italic;">test</span> build database.</li>
        <li>Lines 17-23 configure the <span style="font-style: italic;">production</span> build database.</li>
      </ul>
    </p>
  </div>
</div>