<h3>html-routes.js</h3>
<div uk-grid>
  <div class="uk-width-1-2@s">
    <h5>Code Contents</h5>
    <pre class="line-numbers"><code class="language-javascript">
// Requiring path to so we can use relative routes to our HTML files
var path = require("path");

// Requiring our custom middleware for checking if a user is logged in
var isAuthenticated = require("../config/middleware/isAuthenticated");

module.exports = function(app) {

  app.get("/", function(req, res) {
    // If the user already has an account send them to the members page
    if (req.user) {
      res.redirect("/members");
    }
    res.sendFile(path.join(__dirname, "../public/signup.html"));
  });

  app.get("/login", function(req, res) {
    // If the user already has an account send them to the members page
    if (req.user) {
      res.redirect("/members");
    }
    res.sendFile(path.join(__dirname, "../public/login.html"));
  });

  // Here we've add our isAuthenticated middleware to this route.
  // If a user who is not logged in tries to access this route they will be redirected to the signup page
  app.get("/members", isAuthenticated, function(req, res) {
    res.sendFile(path.join(__dirname, "../public/members.html"));
  });
};
    </code></pre>
  </div>
  <div class="uk-width-1-2@s">
    <h5>Code Definitions</h5>
    <span class="fab fa-js bigIcon"></span>
    <p>
      This file controls the routes for the API related calls that are made. Lets walk through it:
    </p>
    <ul>
      <li>Lines 3 imports the path tool which will be used to serve our HTML files.</li>
      <li>Lines 10-16 are triggered when a get action hits <span style="font-style: italic;">/</span>.
        <ul>
          <li>If the user is authenticated, we send them to the members page.</li>
          <li>If the user is not authenticated, we send them to the signup page.</li>
        </ul>
      </li>
      <li>Lines 18-24 are triggered when a get action hits <span style="font-style: italic;">/login</span>.
        <ul>
          <li>If the user already has an account, we send them to the members page.</li>
          <li>If the user does not have an account, we send them to the signup page.</li>
        </ul>
      </li>
      <li>Lines 28-30 are triggered when a get action hits <span style="font-style: italic;">/members</span>.
        <ul>
          <li>If the user has been authenticated we load the members page.</li>
          <li>If the user has not been authenticated, we send them to the signup page.</li>
        </ul>      
      </li>
    </ul>
  </div>
</div>