<h3>SMU Homework 14 - Reverse Engineering Code</h3>

<p>
  Welcome to Tommy's version of SMU Homework 14. I pretty much dispise the Google "office" suite, so instead of using
  Google Docs I thought, "This is a web design course, I'll just make a website instead of a Google Doc." So, here
  is the resulting site. It was written from scratch, but is based on our most recent course work:
</p>

<ul>
  <li><a href="https://expressjs.com">ExpressJS</a></li>
  <li><a href="https://handlebarsjs.com">Handlebars</a></li>
  <li><a href="https://nodejs.dev">NodeJS</a></li>
  <li>Hosted on <a href="https://www.heroku.com">Heroku</a></li>
  <li>Source on <a href="https://github.com/DJFriar/SMU-Homework-14-Reverse-Engineering-Code">GitHub</a></li>
</ul>

<p>This site works best when maximized to take up your whole screen. Use the navigation menu on the left to choose a file and see what it does.</p>