<h3>index.js</h3>
<div uk-grid>
  <div class="uk-width-1-2@s">
    <h5>Code Contents</h5>
    <pre class="line-numbers"><code class="language-javascript">
'use strict';

var fs        = require('fs');
var path      = require('path');
var Sequelize = require('sequelize');
var basename  = path.basename(module.filename);
var env       = process.env.NODE_ENV || 'development';
var config    = require(__dirname + '/../config/config.json')[env];
var db        = {};

if (config.use_env_variable) {
  var sequelize = new Sequelize(process.env[config.use_env_variable]);
} else {
  var sequelize = new Sequelize(config.database, config.username, config.password, config);
}

fs
  .readdirSync(__dirname)
  .filter(function(file) {
    return (file.indexOf('.') !== 0) && (file !== basename) && (file.slice(-3) === '.js');
  })
  .forEach(function(file) {
    var model = sequelize['import'](path.join(__dirname, file));
    db[model.name] = model;
  });

Object.keys(db).forEach(function(modelName) {
  if (db[modelName].associate) {
    db[modelName].associate(db);
  }
});

db.sequelize = sequelize;
db.Sequelize = Sequelize;

module.exports = db;
    </code></pre>
  </div>
  <div class="uk-width-1-2@s">
    <h5>Code Definitions</h5>
    <span class="fab fa-js bigIcon"></span>
    <p>
      This JavaScript file contains the required data to make sequelize work and is called by the <a href="">index.html</a> page.
    </p>
    <ul>
      <li>Lines 4-10 setup a number of variables used by Sequelize.</li>
      <li>Lines 12-16 look to see if the "config.use_env_variable value is set. This will likely be used by something like Heroku/JawsDB to pass the proper DB info back to the app.
        <ul>
          <li>If it is set, then Heroku will provide the values for the DB via line 13.</li>
          <li>If it is not set, then line 15 will pass in the values from our own <a href="/config-json">config.json</a> file.</li>
        </ul>
      </li>
      <li>Lines 18-37 are for <span style="font-style: italic;">fs</span>, which handles some file service items.</li>
    </ul>
  </div>
</div>