<h3>isAuthenticated.js</h3>
<div uk-grid>
  <div class="uk-width-1-2@s">
    <h5>Code Contents</h5>
    <pre class="line-numbers"><code class="language-javascript">
// This is middleware for restricting routes a user is not allowed to visit if not logged in
module.exports = function(req, res, next) {
  // If the user is logged in, continue with the request to the restricted route
  if (req.user) {
    return next();
  }

  // If the user isn't logged in, redirect them to the login page
  return res.redirect("/");
};
    </code></pre>
  </div>
  <div class="uk-width-1-2@s">
    <h5>Code Definitions</h5>
    <span class="fab fa-js bigIcon"></span>
    <p>
      This JavaScript page is part of the Node middleware package, Passport. </p>
      <ul>
        <li>Lines 5-7 checks to see if the user is logged in. If so, it will return the page they were trying to access.</li>
        <li>If they are not logged in, then the user is redirected to the home page (line 10).
          <ul>
            <li>In the case of this site, / is routed to the signup page for a non-logged in user.</li>
          </ul>
        </li>
      </ul>
    </p>
  </div>
</div>