<h3>login.html</h3>
<div uk-grid>
  <div class="uk-width-1-2@s">
    <h5>Code Contents</h5>
    <pre class="line-numbers"><code class="language-html">
&lt;!DOCTYPE html&gt;
&lt;html lang=&quot;en&quot;&gt;

&lt;head&gt;
  &lt;title&gt;Passport Authentication&lt;/title&gt;
  &lt;meta charset=&quot;UTF-8&quot;&gt;
  &lt;meta name=&quot;viewport&quot; content=&quot;width=device-width, initial-scale=1&quot;&gt;
  &lt;link rel=&quot;stylesheet&quot; href=&quot;https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/lumen/bootstrap.min.css&quot;&gt;
  &lt;link href=&quot;stylesheets/style.css&quot; rel=&quot;stylesheet&quot;&gt;
&lt;/head&gt;

&lt;body&gt;
  &lt;nav class=&quot;navbar navbar-default&quot;&gt;
    &lt;div class=&quot;container-fluid&quot;&gt;
      &lt;div class=&quot;navbar-header&quot;&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/nav&gt;
  &lt;div class=&quot;container&quot;&gt;
    &lt;div class=&quot;row&quot;&gt;
      &lt;div class=&quot;col-md-6 col-md-offset-3&quot;&gt;
        &lt;h2&gt;Login Form&lt;/h2&gt;
        &lt;form class=&quot;login&quot;&gt;
          &lt;div class=&quot;form-group&quot;&gt;
            &lt;label for=&quot;exampleInputEmail1&quot;&gt;Email address&lt;/label&gt;
            &lt;input type=&quot;email&quot; class=&quot;form-control&quot; id=&quot;email-input&quot; placeholder=&quot;Email&quot;&gt;
          &lt;/div&gt;
          &lt;div class=&quot;form-group&quot;&gt;
            &lt;label for=&quot;exampleInputPassword1&quot;&gt;Password&lt;/label&gt;
            &lt;input type=&quot;password&quot; class=&quot;form-control&quot; id=&quot;password-input&quot; placeholder=&quot;Password&quot;&gt;
          &lt;/div&gt;
          &lt;button type=&quot;submit&quot; class=&quot;btn btn-default&quot;&gt;Login&lt;/button&gt;
        &lt;/form&gt;
        &lt;br /&gt;
        &lt;p&gt;Or sign up &lt;a href=&quot;/&quot;&gt;here&lt;/a&gt;&lt;/p&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;

  &lt;script src=&quot;https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js&quot;&gt;&lt;/script&gt;
  &lt;script type=&quot;text/javascript&quot; src=&quot;js/login.js&quot;&gt;&lt;/script&gt;

&lt;/body&gt;

&lt;/html&gt;
    </code></pre>
  </div>
  <div class="uk-width-1-2@s">
    <h5>Code Definitions</h5>
    <span class="fab fa-html5 bigIcon"></span>
    <p>
      This is the HTML page that handles the layout of the login page.
    </p>
    <ul>
      <li>Lines 5-11 are the &lt;head&gt; section.
        <ul>
          <li>Line 6 sets the page title that appears in the browser to <span style="font-style: italic;">Passport Authentication</span></li>
          <li>Line 7 sets the character set for the page (UTF-8 in this case)</li>
          <li>line 8 sets the viewport for the page that is used in responsive layouts and mobile devices.</li>
          <li>Line 9 imports the Bootstrap framework which this site will use to control layout and styling.</li>
          <li>Line 10 imports the <a href="/style-css">style.css</a> local to the site for any site specific stylings that might differ from what Bootstrap includes.</li>
        </ul>
      </li>
      <li>Lines 13-44 contain the body of the site, which is where most the content will live.
        <ul>
          <li>Lines 14-19 setup the navbar section</li>
          <li>Lines 20-39 contain a series of nested divs that in Bootstrap will create a container with a single row and column.
            <ul>
              <li>Line 23 is a header.</li>
              <li>Line 24-34 are the form. Within this is the username and password fields and the Submit button.</li>
              <li>Line 36 is a link to the <a href=/signup-html>signup</a> page.</li>
            </ul>
          </li>
          <li>Line 41 imports the jQuery library.</li>
          <li>Line 42 imports the <a href="/login-js">login.js</a> file to provide the backend functionality for the form above.</li>
        </ul>
      </li>
    </ul>
  </div>
</div>