<h3>members.js</h3>
<div uk-grid>
  <div class="uk-width-1-2@s">
    <h5>Code Contents</h5>
    <pre class="line-numbers"><code class="language-javascript">
$(document).ready(function() {
  // This file just does a GET request to figure out which user is logged in
  // and updates the HTML on the page
  $.get("/api/user_data").then(function(data) {
    $(".member-name").text(data.email);
  });
});
    </code></pre>
  </div>
  <div class="uk-width-1-2@s">
    <h5>Code Definitions</h5>
    <span class="fab fa-js bigIcon"></span>
    <p>
      This JavaScript file just does a GET request to figure out which user is logged in and updates the HTML on the page.
    </p>
    <ul>
      <li>Line 5 calls the User Data API and passes the resulting data to line 6.</li>
      <li>Line 6 uses jQuery to replace the text of the span with a class of <span style="font-style: italic;">member-name</span> 
      on the <a href="/members-html">members.html</a> page with the email address found in the User Data API response.</li>
    </ul>
  </div>
</div>