<h3>signup.html</h3>
<div uk-grid>
  <div class="uk-width-1-2@s">
    <h5>Code Contents</h5>
    <pre class="line-numbers"><code class="language-html">
&lt;!DOCTYPE html&gt;
&lt;html lang=&quot;en&quot;&gt;

&lt;head&gt;
  &lt;title&gt;Passport Authentication&lt;/title&gt;
  &lt;meta charset=&quot;UTF-8&quot;&gt;
  &lt;meta name=&quot;viewport&quot; content=&quot;width=device-width, initial-scale=1&quot;&gt;
  &lt;link rel=&quot;stylesheet&quot; href=&quot;https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/lumen/bootstrap.min.css&quot;&gt;
  &lt;link href=&quot;stylesheets/style.css&quot; rel=&quot;stylesheet&quot;&gt;
&lt;/head&gt;

&lt;body&gt;
  &lt;nav class=&quot;navbar navbar-default&quot;&gt;
    &lt;div class=&quot;container-fluid&quot;&gt;
      &lt;div class=&quot;navbar-header&quot;&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/nav&gt;
  &lt;div class=&quot;container&quot;&gt;
    &lt;div class=&quot;row&quot;&gt;
      &lt;div class=&quot;col-md-6 col-md-offset-3&quot;&gt;
        &lt;h2&gt;Sign Up Form&lt;/h2&gt;
        &lt;form class=&quot;signup&quot;&gt;
          &lt;div class=&quot;form-group&quot;&gt;
            &lt;label for=&quot;exampleInputEmail1&quot;&gt;Email address&lt;/label&gt;
            &lt;input type=&quot;email&quot; class=&quot;form-control&quot; id=&quot;email-input&quot; placeholder=&quot;Email&quot;&gt;
          &lt;/div&gt;
          &lt;div class=&quot;form-group&quot;&gt;
            &lt;label for=&quot;exampleInputPassword1&quot;&gt;Password&lt;/label&gt;
            &lt;input type=&quot;password&quot; class=&quot;form-control&quot; id=&quot;password-input&quot; placeholder=&quot;Password&quot;&gt;
          &lt;/div&gt;
          &lt;div style=&quot;display: none&quot; id=&quot;alert&quot; class=&quot;alert alert-danger&quot; role=&quot;alert&quot;&gt;
            &lt;span class=&quot;glyphicon glyphicon-exclamation-sign&quot; aria-hidden=&quot;true&quot;&gt;&lt;/span&gt;
            &lt;span class=&quot;sr-only&quot;&gt;Error:&lt;/span&gt; &lt;span class=&quot;msg&quot;&gt;&lt;/span&gt;
          &lt;/div&gt;
          &lt;button type=&quot;submit&quot; class=&quot;btn btn-default&quot;&gt;Sign Up&lt;/button&gt;
        &lt;/form&gt;
        &lt;br /&gt;
        &lt;p&gt;Or log in &lt;a href=&quot;/login&quot;&gt;here&lt;/a&gt;&lt;/p&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;

  &lt;script src=&quot;https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js&quot;&gt;&lt;/script&gt;
  &lt;script type=&quot;text/javascript&quot; src=&quot;js/signup.js&quot;&gt;&lt;/script&gt;

&lt;/body&gt;

&lt;/html&gt;
    </code></pre>
  </div>
  <div class="uk-width-1-2@s">
    <h5>Code Definitions</h5>
    <span class="fab fa-html5 bigIcon"></span>
    <p>
      {{!-- CODE DEFINITION HERE --}}
    </p>
  </div>
</div>