<h3>styles.css</h3>
<div uk-grid>
  <div class="uk-width-1-2@s">
    <h5>Code Contents</h5>
    <pre class="line-numbers"><code class="language-css">
form.signup,
form.login {
  margin-top: 50px;
}
    </code></pre>
  </div>
  <div class="uk-width-1-2@s">
    <h5>Code Definitions</h5>
    <span class="fab fa-css3-alt bigIcon"></span>
    <p>
      This is the CSS file that styles the site.
    </p>
    <ul>
      <li>Lines 2-5 set the top margin to 50px for the classes <span style="font-style: italic;">signup</span> and <span style="font-style: italic;">login</span> when they are attached to the <span style="font-style: italic;">form</span> element.</li>
    </ul>
  </div>
</div>