<h3>styles.css</h3>
<div uk-grid>
  <div class="uk-width-1-2@s">
    <h5>Code Contents</h5>
    <pre class="line-numbers"><code class="language-css">
form.signup,
form.login {
  margin-top: 50px;
}
    </code></pre>
  </div>
  <div class="uk-width-1-2@s">
    <h5>Code Definitions</h5>
    <span class="fab fa-css3-alt bigIcon"></span>
    <p>
      {{!-- CODE DEFINITION HERE --}}
    </p>
  </div>
</div>