body, html {
  height: 100%;
  color: #ccc;
	background: #2d2d2d;
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  font-size: 1em;
}

h1, h2, h3, h4, h5 {
  color: #ccc;
  text-align: center;
}

.uk-container-expand {
  padding: 20px;
}

.bigIcon {
  font-size: 2.5em;
}

footer {
  width: 100%;
  text-align: center;
  font-size: .7em;
  padding: 12px;
}

.uk-nav-default {
  color: #999;
}

.uk-nav-divider {
  border-top: 1px solid #999 !important;
  padding-bottom: 4px;
}